.row {
  display: flex;
}

.left {
  width: 20%;
  display: flex;
  justify-content: center;
  
}

.right {
  width: 80%;
}

.rightCenter {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
